.cubo-btn {
  width: 200px; /* Ajusta el ancho del botón */
  height: 100px; /* Ajusta la altura del botón */
  font-size: 20px; /* Ajusta el tamaño del texto dentro del botón */
  border: 2px solid #007bff; /* Añade un borde sólido */
  background-color: #007bff; /* Establece el color de fondo */
  color: #ffffff; /* Establece el color del texto */
  border-radius: 10px; /* Agrega bordes redondeados */
  margin: 10px; /* Ajusta el margen entre botones */
  padding: 20px; /* Ajusta el relleno dentro del botón */
  transition: background-color 0.3s, color 0.3s; /* Añade una transición suave al color de fondo y al texto */
  position: relative;
  overflow: hidden; /* Oculta el contenido que desborda el botón */
}

.hover-img {
  position: absolute; /* Establece la posición absoluta para que la imagen pueda superponerse al botón */
  top: 50%; /* Alinea la imagen verticalmente en el centro */
  left: 50%; /* Alinea la imagen horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Centra la imagen */
  opacity: 0; /* Oculta la imagen inicialmente */
  transition: opacity 0.3s; /* Agrega una transición suave a la opacidad */
}

.cubo-btn:hover .hover-img {
  opacity: 1; /* Muestra la imagen al pasar el mouse sobre el botón */
}