.vehicle-details-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.vehicle-details-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.vehicle-details-content {
    color: #555;
    font-size: 16px;
}

.vehicle-details-content p {
    margin: 5px 0;
}

.vehicle-details-content p strong {
    margin-right: 10px;
}

